<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Jai Giffin</string>
		<string>Jamie Barker</string>
		<string>Bob Slater</string>
		<string>Laura Doolittle</string>
		<string>Adam Peterson</string>
		<string>Ed Parsons</string>
		<string>Lisa Roberts</string>
	</array>
	<key>Titles</key>
	<array>
		<string>Editorial / Sales</string>
		<string>Director of Graphic Design</string>
		<string>Graphic Design</string>
		<string>Graphic Design</string>
		<string>Sales</string>
		<string>Sales</string>
		<string>Editorial / Graphic Design</string>
	</array>
	<key>Bios</key>
	<array>
		<string>Jai Giffin has been involved with publications and sales for more than 20 years. He earned both his bachelor&apos;s degree and his master&apos;s degree in Journalism at West Virginia University. He worked in the Sports Communications Office at West Virginia University as assistant sports publications director.
Giffin went on to work in the publishing/printing division at Host Communications. He served as Managing Editor in the publishing division for five years and was later promoted to Director of National Publishing. He is knowledgeable in putting together every facet of a publication, including the coordination of advertising sales, marketing and distribution.
In his spare time, Giffin enjoys traveling, bicycling and a variety of spectator sports. He and his wife, Suzanne, reside in Nicholasville, Ky.</string>
		<string>Jamie Barker joined the Provations Group in 2005 bringing with him more than 20 years of graphic design experience. A 1986 graduate of the University of Kentucky with a degree in fine arts/graphic design. He began his professional career designing for Safe and Vault magazine for Lockmasters, Inc. in Nicholasville, Ky.
Barker went on to join the printing division of Host Communications where he served as a graphic designer for three years before being promoted to Art Director within Host&apos;s sports publishing division. In his role as Art Director, Barker was responsible for the graphic design of such projects as: the men&apos;s and women&apos;s NCAA Division I Basketball Championship program series, NCAA Football and Basketball Preview magazines, Dave Campbell&apos;s Texas Football, seven Division I university football and basketball game day programs, just to name a few.
In 1998, Barker joined the University of Kentucky athletic department staff where he held the titles of Director of Publications and Creative Director and was the primary designer on all athletic publications.
Jamie is married to the former Stephanie Martin of Camarillo, Calif. and has three children: Zack (14), Bailee (12) and Alec (3). He enjoys golf, tennis and baseball.</string>
		<string>Bob Slater joined the Provations Group team in June, 2006. Slater, an award winning designer, is also a master at digital color correction. Slater began working as a graphic designer in Chicago in the 1970&apos;s.

 

     In 1979, Slater accepted a position at Michigan Technological University&apos;s Communications Office designing university marketing and sports publications. During his 14 years at Michigan Tech, Slater won numerous design awards.

 

     Moving to the Bluegrass State in 1999 in order to provide his daughter, Kristin, the opportunity to pursue her love of horses and equine study, Slater accepted a position in the Art department at Host Communications. During his tenure at Host, Slater continued to hone his design skills, as well as serving a dual role working in the prepress and scanning departments.

    

Bob Slater joined the Provations Group team in June, 2006. Slater, an award winning designer, is also a master at digital color correction. Slater began working as a graphic designer in Chicago in the 1970&apos;s.
In 1979, Slater accepted a position at Michigan Technological University&apos;s Communications Office designing university marketing and sports publications. During his 14 years at Michigan Tech, Slater won numerous design awards.
Moving to the Bluegrass State in 1999 in order to provide his daughter, Kristin, the opportunity to pursue her love of horses and equine study, Slater accepted a position in the Art department at Host Communications. During his tenure at Host, Slater continued to hone his design skills, as well as serving a dual role working in the prepress and scanning departments.
Slater and his wife, Sandy, live in Versailles, Ky. When not working, he enjoys attending sporting events and concerts and watching football and hockey.</string>
		<string>Laura began working full-time with the Provations Group in January of 2011. Prior to joining the team, she had been working as a freelance graphic artist for 14 years.
A native of Bethesda, Maryland, Laura moved to Kentucky in 1989. She gained 4 years of experience as a designer in the catalog industry before taking a job with Host Communications in 1993 as a graphic artist. She was senior graphic artist in 1996 when she left host to stay home and raise her children.
Laura graduated from Milligan College (Johnson City, TN) in 1989 with a bachelor&apos;s degree in Business Administration and a minor in Communications. Her strength lies in her ability to demonstrate creativity while keeping a firm grasp of the &quot;bigger picture&quot; with all of her projects. She strives for clarity and purpose in her designs.
Laura and her husband, Glenn, live in Lexington. They have two sons: Brent and Aaron.</string>
		<string>Adam Peterson joined Provations Group in March, 2010. As a member of the sales team, Peterson works to service and expand Provations Group’s regional customer base. His day-to-day tasks also include aiding in the development and marketing of New Media and digital technologies.
A Central Kentucky native, Peterson graduated with a bachelor’s degree in Philosophy from Asbury University in 2003. He went on to do his master’s work at St. Louis University. Peterson returned to his alma mater in 2005 to teach philosophy before venturing into the sales arena.
In his spare time, Peterson enjoys playing basketball, tennis, and ultimate frisbee. He also enjoys attending sporting events and watching basketball, tennis, and football.</string>
		<string>In the Spring of 2010, Ed Parsons accepted the challenge of New Business Development. Parsons, a veteran of the printing business, brings more than 25 years of sales and managerial experience to Provations Group. His wealth of experience working with clients in collegiate athletic departments as well as the equine industry through the years is advantageous as Provations Group continues to maintain and develop relationships in those areas.
A Louisville, KY native, Parsons lives in Versailles, KY with his wife, Wanda. He has a daughter, Karen, in Atlanta, GA, and a son, Scott, who lives in Washington D.C. with his wife, Kelli.
Outside the office, Parsons enjoys traveling, playing golf and horse racing.</string>
		<string>Lisa joined the provations team in the fall of 2011.</string>
	</array>
</dict>
</plist>
